html
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*, *:before, *:after
{
    padding: inherit;
    margin: inherit;
    box-sizing: inherit;
    text-decoration: none;
    list-style: none;
}

body
{
    font-family: 'Barlow Semi Condensed', sans-serif;
}

header
{
    padding: 2% 5%;
    background: #1f2937;
    margin-bottom: 50px;
    top: 0;
    position: sticky;
}

header .navbar
{
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background: #1f2937;
    margin: 0;
}

.navbar .left-header h1
{
    color: #F9FAF8;
    font-size: 24px;
}

.navbar .right-header ul
{
    display: none;
}

.navbar .right-header button
{
    float: right;
    border: none;
    background: none;
    color: #E5E7EB;
    font-size: 18px;
}

.home-main
{
    padding: 1% 15%;
}

.home-section1
{
    padding: 0;
    text-align: center;
    margin-bottom: 10px;
}
.home-section1 h1
{
    font-size: 36px;
}

.home-section1 h2
{
    font-size: 24px;
}
.home-section1 p
{
    font-size: 18px;
}
.home-section2
{
    padding: 0;
    text-align: center;
}
.home-main .home-section2 figure img
{
    width: 300px;
    height: auto;
    border: 2px solid black;
    border-radius: 5px;
}

.home-section3
{
    padding: 0;
    text-align: center;
    margin-top: 20px;
}

.home-section3 p, .home-section3 p a
{
    font-size: 18px;
}

.home-section3 p
{
    margin-bottom: 20px;
}

.home-section3 p a
{
    background: black;
    padding: 1% 15%;
    border-radius: 5px;
    color: #E5E7EB;
    margin-top: 20px;
}

footer
{
    margin-top: 70px;
    padding: 1% 15%;
    text-align: center;
    background: #1f2937;
}
footer p
{
    margin: 0;
    padding: 0;
    color: #E5E7EB;
    font-size: 18px;
}

.concurrentProcessingAndBareMetalProjectContainer
{
    padding: 0% 2%;
    display: flex;
    justify-content: center;
}
.concurrentProcessingAndBareMetalProjectContainer img
{
    width: 100%;
    height: auto;
    padding: 0;
    border-radius: 10px;
}
.concurrentProcessingAndBareMetalProjectContainer h1,
.concurrentProcessingAndBareMetalProjectContainer p
{
    padding: 0;
}
.concurrentProcessingAndBareMetalProjectContainer p
{
    font-size: 1.3rem;
}
.concurrentProcessingAndBareMetalProjectContainer div
{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    max-width: 250px;
    padding: 1% 1%;
}

@media(min-width: 576px)
{
    header
    {
        padding: 1% 10%;
    }
    .navbar .right-header button
    {
        display: none;
    }
    .navbar .right-header
    {
        display: flex;
        align-items: baseline;
    }

    .navbar .right-header ul
    {
        display: flex;
    }

    .right-header ul li a.home-page
    {
        margin-right: 20px;
    }

    .navbar .right-header ul li a
    {
        color: #E5E7EB;
        font-size: 18px;
    }

    .right-header a.active
    {
        border-bottom: 1px solid #E5E7EB;
    }

    .home-section3 a:hover
    {
        background: #1f2937;
        color: #F9FAF8;
        transition: 0.6s;
        cursor: pointer;
    }

    .home-main .home-section2 figure img
    {
        width: 400px;
        height: auto;
    }
    .concurrentProcessingAndBareMetalProjectContainer
    {
        padding: 0% 25%;
        display: flex;
        justify-content: center;
    }
    .concurrentProcessingAndBareMetalProjectContainer img
    {
        width: 100%;
        height: auto;
        padding: 0;
        border-radius: 10px;
    }
    .concurrentProcessingAndBareMetalProjectContainer h1,
    .concurrentProcessingAndBareMetalProjectContainer p
    {
        padding: 0;
    }
    .concurrentProcessingAndBareMetalProjectContainer p
    {
        font-size: 1.3rem;
    }
    .concurrentProcessingAndBareMetalProjectContainer div
    {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        max-width: 400px;
        padding: 2% 1%;
    }
}